
@import url('https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');

* {
    --surface: #fff;
    --surface-dim: #f5f5f5;
    --brand: #f3902f;
    --brand-dim: #faa75f;
    --brand-dark: #d67b24;
    --brand-container: #fff3e8;
    --error: #f04438;
    --error-background: #ffe9e3;
    --success: #12b76a;
    --success-background: #e6f9ee;
    --content: #141414;
    --content-dim: #707085;
    --content-secondary: #b4b4c8;
    --container-dark: #ededf5;
    --container-darker: #e3e3f0;
    --container-darkest: #d5d5e5;
    padding: 0;
    margin: 0;
    --title-large: 34px;
    --title-medium: 28px;
    --title-small: 23px;
    --heading-large: 21px;
    --heading-small: 19px;
    --content-large: 16px;
    --content-small: 15px;
    --body-large: 17px;
    --body-small: 14px;
    --label-large: 12px;
    --label-small: 11px;
    font-family: "Wanted Sans";
}
body{
    background-color: var(--surface);
}
