.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #707085;
}
.viewport-box{
    width: 800px;
    height: 480px;
}